body {
	top: 5px;
	padding-top: 0px;
	margin: auto;
	position: relative;
	width: 70%;
	height: 100%;
}

.error {
	color: red;
	font-size: 12px;
}

.div-center {
	text-align: center;
}

.div-title-center {
	padding: 1px;
	text-align: center;
	border: 1px solid;
	font-weight: bold;
	font-size: large;
	background-color: #D3D3D3;
	width: 95%;
	margin: 0 auto;
}

.div-title-left {
	padding: 1px;
	text-align: left;
	font-size: medium;
	font-weight: bold;
	width: 95%;
	margin: 0 auto;
}

.div-table-box {
	text-align: left;
	padding: 3px;
	border: 1px solid;
	width: 95%;
	margin: 0 auto;
}

.div-table-center {
	text-align: center;
	width: 95%;
}

.tdlabel {
	font-weight: bold;
	color: black;
	width: 10%;
}

table {
	padding: 5px;
	table-layout: fixed;
	width: 100%;
}

input.uppercase {
	text-transform: uppercase;
}

input.capitalize {
	text-transform: capitalize
}

.req:after {
	content: " * ";
	color: red;
}